[submodule "ChiSquare_Independence_Test"]
	path = ChiSquare_Independence_Test
	url = ../ChiSquare_Independence_Test
[submodule "ChiSquare_Goodness_of_Fit_Test"]
	path = ChiSquare_Goodness_of_Fit_Test
	url = ../ChiSquare_Goodness_of_Fit_Test
